<header>
    <nav class="menu">
      <ul class="menu">
        <li><a href="/zoeken" class="menu">ZOEKEN</a></li>
        <li><a href="/voorkeuren" class="menu">INSTELLINGEN</a></li>
      </ul>
    </nav>
</header>
