<body>

<header>
  <h1>VOORKEUREN</h1>
</header>

<main>

<section>
<form action="/zoeken" method="POST">
  <label>Opzoek naar
    <select name="gender">
      <option value="man">Man</option>
      <option value="vrouw">Vrouw</option>
      <option value="transman">Trans man</option>
      <option value="transvrouw">Trans vrouw</option>
      <option value="neutral">Gender neutral</option>
  </select></label>
<button type="submit">Opslaan</button>
</form>
</section>

</main>

</body>
