<body>

<header>
  <h1>CHATS</h1>
</header>

<main>
  <div class="chat">
    <img src="images/vrouw.png" alt="John" >
    <h1><%= data[0].firstname %> <%= data[0].lastname %></h1>
    <p class="title">"blabla chat gedoe bla"</p>
  </div>
  <div class="chat">
    <img src="images/mann.png" alt="John" >
    <h1><%= data[1].firstname %> <%= data[1].lastname %></h1>
    <p class="title">"blabla chat gedoe bla"</p>
  </div>
</main>
</body>
