<body>

<header>
  <h1>INBOX</h1>
</header>

<main>

  <div class="chat">
    <h1>Tekst melding</h1>
    <p class="title">Extra info melding</p>
  </div>

  <div class="chat">
    <h1>Tekst melding</h1>
    <p class="title">Extra info melding</p>
  </div>

</main>
</body>
