<header>
    <nav class="menu">
      <ul class="menu">
        <li><a href="/zoeken" class="menu">
          <!-- <img class="menu" alt="vrienden"  src="/images/heart.png"> -->
          ZOEKEN
        </a></li>
        <!-- <li><a href="/vrienden" class="menu">
          <img class="menu" alt="vrienden"  src="/images/heart.png">
          VRIENDEN
        </a></li> -->
        <!-- <li><a href="/favorieten" class="menu">
          <img class="menu" alt="favorieten" src="/images/heart.png">
          FAVORIETEN
        </a></li> -->
        <!-- <li><a href="/likes" class="menu">
          <img class="menu" alt="Chats" src="/images/heart.png">
          LIKES
        </a></li> -->
        <li><a href="/voorkeuren" class="menu">
          <!-- <img class="menu" alt="Instellingen" src="/images/heart.png"> -->
          INSTELLINGEN
        </a></li>
      </ul>
    </nav>
</header>
