<body>

<header>
  <h1>VOORKEUREN</h1>
</header>

<main>

<section>
<form action="/zoeken" method="POST">
  <!-- <fieldset>
    <legend>Algemeen</legend>
  <label>Leeftijd
    <select>
      <option value="5">> 5 jaar</option>
      <option value="10">5 - 10 jaar</option>
      <option value="11">10 < jaar</option>
  </select></label>
  <label>Afstand
    <select>
      <option value="10">> 10 km</option>
      <option value="25">10 - 25 km</option>
      <option value="50">25 - 50 km</option>
      <option value="75">50 - 75 km</option>
      <option value="80">80 < km</option>
  </select></label>
</fieldset>
<fieldset>
  <legend>Seksuele voorkeuren</legend>
  <label>Seksuele geaardheid
    <select>
      <option value="hetro">Hetroseksueel</option>
      <option value="homo">Homoseksueel</option>
      <option value="bi">Biseksueel</option>
  </select></label> -->
  <label>Opzoek naar
    <select name="gender">
      <option value="man">Man</option>
      <option value="vrouw">Vrouw</option>
      <option value="transman">Trans man</option>
      <option value="transvrouw">Trans vrouw</option>
      <option value="neutral">Gender neutral</option>
  </select></label>
  <!-- <label>Soort relatie
    <select name="relationship">
      <option name="relatie">Relatie</option>
      <option name="open">Open relatie</option>
      <option name="vriendschap">Vriendschap</option>
      <option name="gezelschap">Gezelschap</option>
  </select></label> -->
<!-- </fieldset> -->
<button type="submit">Opslaan</button>
</form>
</section>

</main>

</body>
