<!DOCTYPE html>
<html lang="EN">

<% include partials/head.ejs %>

<% include partials/nav.ejs %>

<body>
    <header>
      <h1>INLOGGEN </h1>
    </header>
  <main>
  <section>
    <form class="login" action="/" method="post">
      <label><input type="email" name="username" placeholder="E-mailadres"></label>
      <label><input type="password" name="password" placeholder="Wachtwoord"></label>
      <button type="submit">Inloggen</button>
      <a class="button" href="/register">Registreren</a>
    </form>
  </section>

  <section>
  <header>
    <h1>WELKOM BIJ MAYBEE</h1>
  </header>
      <p>Een nieuw platform waar acceptatie en openheid centraal staan.</p>
      <img alt="MAYBEE logo" src="images/bee1.png">
    </section>

    <section>
    <header>
      <h1>ONZE VISIE</h1>
    </header>
      <p>MAYBEE richt zich vooral op de LGBT-gemeenschap. Wij proberen door middel van een open platform en wederzijdse acceptatie gays, biseksuele, transseksuele en genderneutral</p>

    </section>

</main>
</body>


</html>
