<!DOCTYPE html>
<html lang="EN">

<% include partials/head.ejs %>

<% include partials/nav.ejs %>

<body>
  <header>
    <h1>ACCOUNT AANMAKEN</h1>
  </header>
  <main>
  <section>
    <h2>PERSOONSGEGEVENS</h2>
    <p>Vul hier je eigen gegevens in.</p>
    <form class="aanmeld" action="/register" method="post">
      <label>Voornaam
        <input type="text" name="firstname" placeholder="Voornaam" required>
      </label>
      <label>Achternaam
        <input type="text" name="lastname" placeholder="Achternaam" required>
      </label>
      <label>Leeftijd
        <input type="text" name="age" placeholder="Leeftijd" required>
      </label>
      <label>Woonplaats
        <input type="text" placeholder="Woonplaats" name="place" required>
      </label>

      <label>Email
        <input type="email" name="username" placeholder="E-mail" required>
      </label>
      <label>Wachtwoord
        <input type="text" name="password" placeholder="Wachtwoord" required>
      </label>
      <label>Biografie
        <input type="text" name="bio" placeholder="Schrijf iets over jezelf" required>
      </label>

      <!-- <label>Herhaal wachtwoord
        <input type="text" placeholder="Herhaal wachtwoord" required>
      </label> -->
      <label>Geslacht
        <select name="gender" required>
          <!-- <option value="x">-</option> -->
          <option value="man">Man</option>
          <option value="vrouw">Vrouw</option>
          <option value="transman">Trans man</option>
          <option value="transvrouw">Trans vrouw</option>
          <option value="neutral">Gender neutral</option>
        </select>
      </label>
      <label>Ik ben opzoek naar
        <select name="pref" required>
          <option value="man">Man</option>
          <option value="vrouw">Vrouw</option>
          <option value="transman">Trans man</option>
          <option value="transvrouw">Trans vrouw</option>
          <option value="neutral">Gender neutral</option>
        </select>
      </label>
      <label>Seksuele geaardheid
        <select name="sex" required>
          <option>Hetroseksueel</option>
          <option>Homoseksueel</option>
          <option>Biseksueel</option>
        </select>
      </label>
      <label>Soort relatie
        <select name="relationship" required>
          <option value="relatie">Relatie</option>
          <option value="open">Open relatie</option>
          <option value="vriendschap">Vriendschap</option>
          <option value="gezelschap">Gezelschap</option>
        </select>
      </label>
      <label>Maximale afstand
        <select name="afstand" required>
          <option value="10"> 10 km</option>
          <option value="25">10 - 25 km</option>
          <option value="50">25 - 50 km</option>
          <option value="75">50 - 75 km</option>
          <option value="80">80 < km</option>
        </select>
      </label>
      <button type="submit" >Opslaan</button>
    </form>
  </section>

  <!-- <section>
    <h2>PROFIEL</h2>
  <form action="/upload" method="post" enctype="multipart/form-data">
    <label>Upload profielfoto<input type="file" name="profilepic"  accept="image/*"></label>
    <label>Upload omslagfoto<input type="file" name="banner" accept="image/*"></label>
  </form>
  </section> -->

    <!-- <section>
      <h2>INTERESSES</h2>
      <p>Geef aan waar je interesses liggen.</p>
    <form>
      <label>Muziek
        <input type="checkbox" value="rock" required>Rock
        <input type="checkbox" value="punk" required>Punk
        <input type="checkbox" value="hip" required>Hip-hop
        <input type="checkbox" value="rnb" required>RnB
        <input type="checkbox" value="jazz" required>Jazz
        <input type="checkbox" value="klassiek" required>Klassiek
      </label>
      <label>Sport
        <input type="checkbox" value="tennis" required>Tennis
        <input type="checkbox" value="voetbal" required>Voetbal
        <input type="checkbox" value="basketbal" required>Basketbal
        <input type="checkbox" value="korfbal" required>Korfbal
        <input type="checkbox" value="fitness" required>Fitness
        <input type="checkbox" value="zwemmen" required>Zwemmen
      </label>
      <label>Activiteiten
        <input type="checkbox" value="crea" required>Creatief
        <input type="checkbox" value="knutselen" required>Muziek
        <input type="checkbox" value="gamen" required>Gamen
        <input type="checkbox" value="computers" required>Computers
        <input type="checkbox" value="lezen" required>Lezen
        <input type="checkbox" value="schrijven" required>Schrijven
      </label>
      <a class="button" href="#">Terug</a>
      <a class="button" href="/">Opslaan</a>
     </form>
  </section> -->
</main>
</body>


</html>
