<!DOCTYPE html>
<html lang="EN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MAYBEE - Chats</title>
</head>

<body>
  <header>
    <h1><a href="/users/mayjohansson/documents/CMD/TECH/Project TECH/index.html">MAYBEE</a></h1>
    <nav>
      <ul>
        <li>Zoeken</li>
        <li><a href="/users/mayjohansson/documents/CMD/TECH/Project TECH/profile.html">Profiel</a></li>
        <li><a href="/users/mayjohansson/documents/CMD/TECH/Project TECH/berichten.html">Chats</a></li>
      </ul>
    </nav>
  </header>

  <section>
    <h2></h2>
    <article>

    </article>
  </section>
</body>


</html>
