<!DOCTYPE html>
<html lang="EN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MAYBEE - Home</title>
</head>

<body>
  <header>
    <h1><a href="/Users/mayjohansson/Documents/CMD/TECH/Project%20TECH/MAYBEE/index.html">MAYBEE</a></h1>
    <nav>
      <ul>
        <li>Zoeken</li>
        <li><a href="/Users/mayjohansson/documents/CMD/TECH/Project TECH/profile.html">Profiel</a></li>
        <li><a href="/Users/mayjohansson/documents/CMD/TECH/Project TECH/berichten.html">Meldingen</a></li>
      </ul>
    </nav>
  </header>

  <section class="intro">
    <h2>Welkom bij MAYBEE</h2>
    <p>Een nieuw platform waar acceptatie en openheid centraal staan.</p>
    <img alt="MAYBEE logo" src="/users/mayjohansson/documents/CMD/TECH/Project TECH/bee1.png">

  </section>

  <section class="vision">
    <h2>Onze visie</h2>
    <p>MAYBEE richt zich vooral op de LGBT-gemeenschap. Wij proberen door middel van een open platform en wederzijdse acceptatie gays, biseksuele, transseksuele en genderneutral</p>

  </section>

  <section class="aanmelden">
    <h2>Log in of meld je aan!</h2>
    <form>
      <input type="email">
      <input type="password">
      <button type="submit">Send</button>
      <a href="">Wachtwoord vergeten?</a>
      <p>Nog geen account?</p>
      <a href="/Users/mayjohansson/Documents/CMD/TECH/Project%20TECH/MAYBEE/register.html">Aanmelden</a>
    </form>

  </section>

  <footer>

  </footer>

</body>


</html>
