<!DOCTYPE html>
<html lang="EN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MAYBEE - Profiel</title>
    <link rel="stylesheet" href="style.css"></link>
</head>

<body>

  <header class="top">
    <img alt="avatar1" src="/Users/mayjohansson/desktop/MAYBEE/assets/img_avatar3.png">
    <ul>
      <li>Update profiel</li>
      <li>Browsen</li>
      <li>Vrienden</li>
      <li></li>
    </ul>
  </header>
  <ul>
    <li><a href="//index.html"><img alt="MAYBEE logo" src="/Users/mayjohansson/desktop/MAYBEE/assets/bee1.png"></a></li>
    <li><a><img alt="menu" src="/Users/mayjohansson/desktop/MAYBEE/dots.png"></a></li>
    <li><a href="//berichten.html"><img alt="chat" src="/Users/mayjohansson/desktop/MAYBEE/bericht.png"></a></li>
    <li><a href="//matching.html"><img alt="menu" src="/Users/mayjohansson/desktop/MAYBEE/search.png"></a></li>
  </ul>
  <section class="">

  </section>

</body>


</html>
